<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">End Date</label>
  <div class="col-sm-9">
    <%= form.text_field :end_date, class: "form-control" %>
    <span class="help-block">Example: <%= Time.now.strftime("%B %d, %Y 15:00:00")%> </span>
  </div>
</div>
