<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Default Items</label>
  <div class="col-sm-9">
    <%= form.text_field :items, class: "form-control" %>
    <span class="help-block">Example: [{"label": "BOUGHT BREAD FOR", "value": "$999.99"}, {"label": "SOLD WATER FOR", "value": "$9,001.00"}]</span>
  </div>
</div>


