<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Default Current</label>
  <div class="col-sm-9">
    <%= form.text_field :current, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Default Last</label>
  <div class="col-sm-9">
    <%= form.text_field :last, class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Default Prefix</label>
  <div class="col-sm-9">
    <%= form.text_field :prefix, class: "form-control" %>
  </div>
</div>

