<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Default Series</label>
  <div class="col-sm-9">
    <%= form.text_field :series, class: "form-control" %>
    <span class="help-block">Example: [{"type":"pie","name":"Type","data":[["LOVE",208],["LIKE",570],["HATE",516],["CAKE",611]]}]</span>
  </div>
</div>
