<div class="form-group">
  <label for="inputPassword3" class="col-sm-3 control-label">Default Series</label>
  <div class="col-sm-9">
    <%= form.text_field :series, class: "form-control" %>
    <span class="help-block">Example: [{"name":"Income","data":[208,570,516,611]}]</span>
  </div>
</div>
