<section id="slider" class="slider text-center">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">

        <div id="slider-carousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag("img/macbook-air-3.png") %>
            </div>
            <div class="item">
              <%= image_tag("img/macbook-air-1.png") %>
            </div>
            <div class="item">
              <%= image_tag("img/macbook-air-2.png") %>
            </div>
          </div>
          <a class="carousel-control left" href="#slider-carousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#slider-carousel" data-slide="next">&rsaquo;</a>
        </div><!-- /slider-carousel -->

      </div><!-- /span12 -->
    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<section id="features" class="features">
  <div class="container">
    <div class="row-fluid">

      <div class="span3">
        <div class="feature">
          <i class="icon-globe icon-2x pull-left"></i>
          <h4>Get your Kpi`s in place</h4>
          <p>Provide at-a-glance views of KPIs for your business process.</p>
        </div>
      </div><!-- /span3 -->

      <div class="span3">
        <div class="feature">
          <i class="icon-wrench icon-2x pull-left"></i>
          <h4>Your data your rules</h4>
          <p>We don’t store your data anywhere within our network. All the widgets are empty until you fill them up, and you always have the power to reset them anytime your want to.
          </p>
        </div>
      </div><!-- /span3 -->

      <div class="span3">
        <div class="feature">
          <i class="icon-desktop icon-2x pull-left"></i>
          <h4>Create your own widgets</h4>
          <p>Import your own data into a range of pre-built visualisations
          </p>
        </div>
      </div><!-- /span3 -->

      <div class="span3">
        <div class="feature">
          <i class="icon-thumbs-up icon-2x pull-left"></i>
          <h4>Dashboard your team</h4>
          <p>Share with your team, on large screens, or give each member individual access.</p>
        </div>
      </div><!-- /span3 -->

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>

<section id="testimonials" class="testimonials">
  <div class="container">

    <div id="testimonials-carousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <div class="row-fluid">
            <div class="span12">
              <blockquote>
                <div>
                  <i class="icon-quote-left"></i>
                  <p>
                  We don`t have any referrals yet. How about giving us refrence by sharing your experiences with superviso?
                  </p>
                  <small> <cite title="Source Title">Superviso Team 
              </cite></small>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <div class="span12">
              <blockquote>
                <div>
                  <i class="icon-quote-left"></i>
                  <p>
                  We don`t have any referrals yet. How about giving us refrence by sharing your experiences with superviso?
                  </p>
                  <small> <cite title="Source Title">Superviso Team 
              </cite></small>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <div class="span12">
              <blockquote>
                <div>
                  <i class="icon-quote-left"></i>
                  <p>
                  We don`t have any referrals yet. How about giving us refrence by sharing your experiences with superviso?
                  </p>
                  <small> <cite title="Source Title">Superviso Team 
              </cite></small>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row-fluid">
            <div class="span12">
              <blockquote>
                <div>
                  <i class="icon-quote-left"></i>
                  <p>
                  We don`t have any referrals yet. How about giving us refrence by sharing your experiences with superviso?
                  </p>
                  <small> <cite title="Source Title">Superviso Team 
              </cite></small>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control left" href="#testimonials-carousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#testimonials-carousel" data-slide="next">&rsaquo;</a>
    </div><!-- /testimonials-carousel -->

  </div><!-- /container -->
</section>   

<section id="prices" class="prices">
  <div class="container">
    <div class="row-fluid">

      <div class="span4">
        <div class="plan plan-1">
          <h4 class="plan-title"><a href="#">Free Plan</a></h4>
          <ul class="unstyled plan-features">
            <li><a href="#">One dashboard</a></li>
            <li><a href="#">Two widgets</a></li>
            <li><a href="#">5 min updates</a></li>
            <li><a href="#">Best user support</a></li>
          </ul>
          <p class="plan-price text-center"><a href="#">Free for life</a></p>
        </div>
      </div><!-- /span4 -->

      <div class="span4">
        <div class="plan plan-2">
          <h4 class="plan-title"><a href="#">Business Plan</a></h4>
          <ul class="unstyled plan-features">
            <li><a href="#">5 dashboards</a></li>
            <li><a href="#">Unlimited widgets</a></li>
            <li><a href="#">1 minute updates</a></li>
            <li><a href="#">Pre-configured clients</a></li>
            <li><a href="#">Online user support</a></li>
          </ul>
          <p class="plan-price text-center"><a href="#">/ month</a></p>
        </div>
      </div><!-- /span4 -->

      <div class="span4 plan-3">
        <div class="plan">
          <h4 class="plan-title"><a href="#">All inclusive</a></h4>
          <ul class="unstyled plan-features">
            <li><a href="#">Unlimited dashboards</a></li>
            <li><a href="#">Unlimited widgets</a></li>
            <li><a href="#">Every second updates</a></li>
            <li><a href="#">Custom widget designs</a></li>
            <li><a href="#">Custom client configurations </a></li>
            <li><a href="#">Custom data integration</a></li>
            <li><a href="#">Online and phone support</a></li>
          </ul>
          <p class="plan-price text-center"><a href="#"> / month</a></p>
        </div>
      </div><!-- /span4 -->

    </div><!-- /row-fluid -->
  </div><!-- /container -->
</section>
