<h1 class="title" data-bind="title"></h1>
<span class="load-container">
  <h2 class="value" data-bind="value1 | shortenedNumber"></h2>
  <h3 class="more-info">last minute</h3>
</span>
<span class="load-container">
  <h2 class="value" data-bind="value2 | shortenedNumber"></h2>
  <h3 class="more-info">last 5 minutes</h3>
</span>
<span class="load-container">
  <h2 class="value" data-bind="value3 | shortenedNumber"></h2>
  <h3 class="more-info">last 15 minutes</h3>
</span>

<p class="updated-at" data-bind="updatedAtMessage"></p>
