/*
 *
 *= require "twitter/bootstrap"
 *= require_tree './dashing'
 */
/*
body {
  padding-top: 60px;
}*/
.container-full{
  width: 100%
}
.btn-widget-settings{
  left: -50px;
  margin-top: 5px;
}
.icon-pulse {
    display: inline-block;
    -moz-animation: pulse 1.5s infinite linear;
    -o-animation: pulse 1.5s infinite linear;
    -webkit-animation: pulse 1.5s infinite linear;
    animation: pulse 1.5s infinite linear;
}

@-webkit-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}
@-moz-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}
@-o-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}
@-ms-keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}
@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.3; }
    100% { opacity: 1; }
}
